.produto{
    text-align: center;
    background-color: #10918663;
    width: 80vw;
    font-size: 20px;
    margin-bottom: 1em;
    position: relative;
    left: 1vw;
}
.produto button{
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #FB4D4D;
    border-radius: 10px;
    height: 3em;
    width: 25vw;
    margin-bottom: 1em;
    transition: 0.2s;
}
.produto button:hover{
    background-color: #c73939;
}
.produto img{
    height: 50vw;
    width: 50vw;
}
.produto p{
    line-height: 2em;
}
footer{
    margin-top: 8em;
}
@media(min-width:825px){
    .produto{
        display: flex;
        text-align: left;
        width: 65vw;
        height: 10em;
        margin-bottom: 1em;
    }
    .produto img{
        height: 8em;
        width: 8em;
        margin: 1em;
    }
    .produto button{
        width: 15vw;
        position: absolute;
        top: 2.5em;
        right: 2vw;
        height: 3em;
        font-size: 20px;
    }
    .produto p{
        font-size: 20px;
    }
    footer{
        margin-top: 0;
    }
}