aside{
    text-align: center;
    position:fixed;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 8em;
    right: 0em;
    width: 100vw;
    z-index: 1;
}

aside h2{
    position: relative;
    left: 0.5em;
    margin-right: 0.5em;
}
aside img{
    width: 1.7em;
    height: 1.7em;
}
aside button{
    outline: none;
    border: none;
    width: 35vw;
    height: 2em;
    border-radius: 15px;
    background-color: rgb(25, 170, 25); 
}
aside button:hover{
    background-color: rgb(20, 131, 20);
}
.adicionados{
    display: block;
    justify-content: center;
    position: relative;
    left: 0vw;
    top: 6em;
    
}
@media(min-width:825px){
    aside{
        display: inline-block;
        width: 25vw;
        left: 0;
        top: 4.9em;
        height: 62.2vh;
    }
    aside button{
        width: 22vw;
        margin-bottom: 1em;
    }
    aside h2{
        margin: 2.5em 0;
    }
    aside img{
        position: relative;
        right: 0.5em;
    }
    p#preco{
        margin: 2em 0;
        font-size: 20px;
    }
    .adicionados{
        display: inline-block;
        left: 22vw;
        right: 2vw;
        text-align: right;
        width: 65vw;
        top: 0;
        margin-bottom: 10em;
    }
    footer{
        position: fixed;
        width: 100vw;
        bottom: 0;
        right: 0;
    }
}
