main{
    position: relative;
    top: 2em;
}
#curtidos{
    width: 2em;
    height: 2em;
    margin: 0;
}
#heart{
    text-align: center;
}
.curtidos{
    text-align: center;
}
@media(min-width:800px){
    main{
        top: 0;
    }
}