*{
    z-index: 0;
}
header{
    z-index: 11;
    height: 6.5em;
}
nav{
    z-index: 11;
    display: none;
}
main{
    padding-top: 10em;
}
.Produtos{
    text-align: center;
}
#filtrar{
    cursor: pointer;
    text-align-last: center;
    outline: none;
    color: white;
    width: 100vw;  
    background: #5E1F91;
    border: none;
    display: block;
    z-index: 1;
    position: fixed;
    top: 6.5em;
    left: 0;
}
option{
    color: white;
}
@media(min-width:820px){
    header{
        height: 10vh;
    }
    main{
        padding-top: 8em;
    }
    #logo{
        margin: 0.5em;
    }
    #filtrar{
        top: 4em;
    }
    #filtro{
        top: 6.8em;
        transform: translate3d(0, -30px, 0);
    }
    #filtro.show{
        transform: translate3d(0, -20px, 0);
    }
}