html,body{
  font-family: 'Poppins', sans-serif;
}
header{
  position: fixed;
  width: 100vw;
  background-color: #c4c4c4;
  z-index: 100;
}
#usuario{
  cursor: pointer;
}
.icons{
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 0.5em;
}
.icons img{
  width: 2em;
  margin-left: 0.2em;
  height: 2em;
}
#logo{
  text-align: center;
}
nav{
  position: relative;
  text-align: center;
}
nav>a{
  margin-right: 2vw;
}
.container{
  z-index: -1;
}
#pesquisa{
  border: none;
  border-radius: 20px;
  box-shadow: 0.6px 0.6px rgba(0, 0, 0, 0.5);
  width: 90vw;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  outline: none;
  padding-inline-start: 10px;
}
#lupa{
  width: 1.2em;
  height: 1.2em;
  position: relative;
  right: 3em;
}
#novidades{
  background-color: #b2b2b2;
  text-align: center;
  height: 70px;
}
#novidades label{
  display: block;
}
footer input{
  border: none;
  outline: none;
  padding-inline-start: 5px;
}
footer{
  height: 200px;
  background-color: #c4c4c4;
}
#email,#interesse{
  border: none;
  border-bottom-style: solid ;
  border-width: 2px;
  background: transparent;
  margin-right: 2vw;
}
#email{
  width: 40vw;
}
#interesse{
  width: 20vw;
}
#submit{
  background-color: #66a94e;
  border-radius: 10px;
  width: 30vw;
}
#submit:hover{
  background-color: #497938;
}
#social-media{
  margin-left: 1em;
}
#social-media img{
  width: 4em;
  height: 4em;
}
#fale-conosco, #contato{
  position: relative;
  text-align: end;
  bottom: 80px;
}
#fale-conosco{
  margin-right: 8vw;
}
#contato{
  margin-right: 3vw;
}

#cadastro{
  display: none;
  transition: 0.5s;
  position: fixed;
  left: 25vw;
  top: 30vh;
  text-align: center;
  background-color: #b2b2b2;
  width: 50vw;
}
#fechar,#voltar{
  position: absolute;
  width: 4vw;
  height: 3vh;
  top: 0.5em;
  left: 1vw;
  cursor: pointer;
}
#cadastro>h3, #newUser>h3{
  background-color: gray;
}
#cadastro input, #newUser input{
  transition: 0.5s;
  outline: none;
  width: 42vw;
  border: none;
  border-radius: 15px;
  padding-inline-start: 10px;
}
#cadastro p{
  line-height: 1em;
}
#cadastro .button, #newUser #confirmar{
  height: 2em;
  width: 44vw;
}
#login{
  background-color: #a2ca9f;
}
#login:hover{
  background-color: #649e60
}
#cadastroBtn{
  background-color: #bdece9;
}
#cadastroBtn:hover{
  background-color: #85c9c4;
}

#newUser{
  transition: 0.5s;
  position: fixed;
  left: 25vw;
  top: 22vh;
  text-align: center;
  background-color: #b2b2b2;
  width: 50vw;
  line-height: 0.8em;
  display: none;
}
#newUser #confirmar{
  background-color: #62B173;
}
#newUser #confirmar:hover{
  background-color: #457e51;
}

main{
  padding-top: 6em;
}

@media(min-width:820px){
  header{
    display: flex;
  }
  #search-bar{ 
    height: 8vh;
  }
  #pesquisa{
    width: 70vw;
    margin-top: 1em;
    outline: none;
    padding-inline-start: 10px;
  }
  .icons{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
  }
  .icons img{
    width: 2.5vw;
    height: 6vh;
    margin-right: calc(3vw - 1.2em);
  }
  #logo{
    text-align: center;
    margin: 1em 1.4em 0.6em 1em;
  }
  nav{
    position: absolute;
    top: 53px;
    left: 11.1vw;
    text-align: center;
  }
  nav>a{
    margin: 0 4vw;
  }

  #novidades{
    text-align: center;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
  }
  #novidades label{
    display: inline;
    margin-right: 7em;
  }
  footer input{
    border: none;
    outline: none;
    padding-inline-start: 5px;
  }
  footer{
    background-color: #c4c4c4;
    height: 170px;
  }
  #email,#interesse{
    border: none;
    border-bottom-style: solid ;
    border-width: 2px;
    background: transparent;
    margin-right: 1vw;
  }
  #email{
    width: auto;
  }
  #interesse{
    width: auto;
    margin-right: 2vw;
  }
  #submit{
    background-color: #66a94e;
    margin-left: 5vw;
    border-radius: 10px;
    height: 30px;
    width: 29vh;
  }

  #social-media{
    display: flex;
    margin-left: 1em;
    margin-top: 1em;
    align-items: center;
  }
  #social-media img{
    margin-left: 1em;
    width: 4em;
    height: 4em;
  }
  #fale-conosco{
    margin-right: 8vw;
  }
  #contato{
    margin-right: 6vw;
  }


  #cadastro, #newUser{
    z-index: 100;
    left: 30vw;
    top: 30vh;
    text-align: center;
    background-color: #b2b2b2;
    width: 40vw;
  }
  #fechar, #voltar{
    width: 2vw;
    height: 3vh;
  }
  #cadastro>h3, #newUser>h3{
    background-color: gray;
  }
  #cadastro input, #newUser input{
    transition: 0.5s;
    outline: none;
    width: 35vw;
    border: none;
    border-radius: 15px;
    padding-inline-start: 10px;
  }
  #cadastro p{
    line-height: 1em;
  }
  #cadastro .button, #newUser #confirmar{
    height: 2em;
    width: 38vw;
  }
  #newUser{
    top: 22vh;
  }
}




