.destaque{
    text-align: center;
    position: relative;
    z-index: 1;
    top:3em;
    margin-bottom: 5em;
}
#destaque{
    top: 1em;
    position: relative;
    z-index: 1;
}
#promocoes{
    text-align: center;
    margin-bottom: 3em;
}
#Conferir{
    text-align: center;
    position: relative;
    left: 31vw;
    width: 20vw;
    border: none;
    background-color: #5E894A;
    transition: 0.2s;
    border-radius: 10px;
    height: 7vh;
    margin-bottom: 4em;
}
#Conferir:hover{
    background-color: #3b582d;
}