@model usuario
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Modificar Usuário";
}
<link rel="stylesheet" href="~/css/ModificarU2.css">
<form action="" method="post">
    <h2>Edição de Usuário</h2>

    @if(Context.Session.GetInt32("tipoUsuariousuario")==1){
        <p><label asp-for="id">Id*</label></p>
        <p><input asp-for="id" type="number" name="id" id="id" placeholder="Digite seu id" class="text-box" required></p>

        <p><label asp-for="nome">Nome*</label></p>
        <p><input type="text" name="nome" id="nome" placeholder="Digite seu nome" class="text-box" required></p>

        <p><label asp-for="email">Email*</label></p>
        <p><input type="text" name="email" id="Email" placeholder="Digite seu email" class="text-box" required></p>

        <p><label asp-for="tipo">Altere o Tipo*</label></p>
        <p><input type="radio" name="tipo" id="adm" value="1"> administrador <input type="radio" name="tipo" id="user" value="0" checked> usuário</p>
    }
    @if(Context.Session.GetInt32("tipoUsuariousuario")==0){   
        <input asp-for="id" type="hidden" value="@Context.Session.GetInt32("idUsuariousuario")">
        <p><label asp-for="email">Email*</label></p>
        <p><input type="text" name="email" id="Email" placeholder="Digite o novo email" class="text-box" required></p>

        <p><label asp-for="tipo">Senha*</label></p>
        <p><input type="password" name="senha" id="senha" placeholder="Digite a nova senha" class="text-box" required></p>
    }
    <p><input type="submit" value="Modificar" id="modificar"></p>
</form>
