@{
    ViewData["Title"] = "Curtidos";
}
<link rel="stylesheet" href="~/css/curtidos.css">
<h2 id="heart">Curtidos <img src="~/images/favorite-heart-button.png" alt="curtidos" id="curtidos"></h2>
<div class="curtidos">
    @await Html.PartialAsync("_ProdutoCurtido")
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/curtidos.js"></script>