@{
    ViewData["Title"] = "Deletar Produto";
}
@model Produto
<link rel="stylesheet" href="~/css/Deletar.css">
<form method="post">
    <h2>Edição de Produto</h2>

    <p><label asp-for="id">Digite o id do produto que deseja alterar</label></p>
    <p><input asp-for="id" class="text-box" placeholder="Digite o id" ></p>

    <p><label asp-for="nome">Nome*</label></p>
    <p><input type="text" name="nome" id="nome" class="text-box" placeholder="Digite o novo nome" required></p>

    <p><label asp-for="foto">Url da imagem*</label></p>
    <p><input asp-for="foto" class="text-box" placeholder="Digite a url da imagem" required></p>

    <p><input type="submit" id="Excluir" value="Excluir"></p>
</form>