@{
    ViewData["Title"] = "Modificar Produto";
}
@model Produto
<link rel="stylesheet" href="~/css/ModificarP.css">
<form method="post">
    <h2>Edição de Produto</h2>

    <p><label asp-for="id">Digite o id do produto que deseja alterar</label></p>
    <p><input asp-for="id" class="text-box" placeholder="Digite o id" ></p>

    <p><label asp-for="nome">Nome*</label></p>
    <p><input type="text" name="nome" id="nome" class="text-box" placeholder="Digite o novo nome" required></p>

    <p><label asp-for="foto">Url da imagem*</label></p>
    <p><input asp-for="foto" class="text-box" placeholder="Digite a url da imagem" required></p>

    <p><label asp-for="preco">Preço*</label></p>
    <p><input asp-for="preco" name="preco" id="preco" class="text-box" placeholder="Digite o novo preço do produto" required></p>

    <p><label asp-for="promocao">Promoção</label></p>
    <p><input asp-for="promocao" name="promocao" id="promocao" class="text-box" placeholder="Digite o preço em promoção do produto"></p>

    <p><label asp-for="categoria">Categoria*</label></p>
    <p><select asp-for="categoria" class="text-box" required>
        <option disabled>Selecione uma opção</option>
        <option value="masculino">masculino</option>
        <option value="feminino">feminino</option>
        <option value="infantil">infantil</option>
        <option value="calcados">calçados</option>
    </select></p>

    <p><input type="submit" id="modificar" value="modificar"></p>
</form>