<link rel="stylesheet" href="~/css/_ProdutoCart2.css">
<div class="produto">
    <img src="~/images/camisa1.png" alt="camisa">
    <p>Produto xxxxxxxx <br> Preço: <strong> R$00,00</strong></p>
    <button>Remover</button>
</div>