<link rel="stylesheet" href="~/css/_Produto.css">
<div class="produto">
    <img src="~/images/camisa1.png" alt="Produto">
    <button alt="Curtir" class="icones curtir" id="curtir"></button>
    <button alt="Carrinho" class="icones loja" id="carrinho"></button>
    <p>Produto xxxxxxxxxx</p>
    <p>
        <label for="preço antigo" id="antigo"><del>R$<strong>100,00</strong></del></label>
        <label for="preço atual" id="atual">R$50,00</label>
    </p>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/_Produto2.js"></script>