<link rel="stylesheet" href="~/css/_Produto2.css">
<div class="produto">
    <label for="Novo" id="novo">Novo!</label>
    <img src="~/images/camisa1.png" alt="Produto">
    <button alt="Curtir" class="icones curtir" id="curtir"></button>
    <button alt="Carrinho" class="icones loja" id="carrinho"></button>
    <p>Produto xxxxxxxxxx</p>
    <p>R$<strong>00,00</strong></p>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/_Produto.js"></script>
