@model ViewModel
<link rel="stylesheet" href="~/css/_ProdutoCart2.css">
    @foreach (Carrinho item in Model.listaCarrinho)
    {
        <div class="produto">
            <img src="@item.fotoProduto" alt="camisa">
            @if(item.promocaoProduto!=0){
                <p>@item.nomeProduto <br> Preço: <strong> R$@item.promocaoProduto</strong></p>
            }
            else{
                <p>@item.nomeProduto <br> Preço: <strong> R$@item.precoProduto</strong></p>
            } 
            <button>Remover</button> 
        </div>
    }
